<h1><%= title %></h1>
<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit net price</th>
      <th>Unit gross price</th>
      <th>Available quantity</th>
      <th>Add amount</th>
    </tr>
  </thead>
  <tbody>
<% products.each do |product| %>
  <tr>
      <td>
        <a href="/products/<%= product.id %>">
          <h4><%= product.name %></h4>
        </a>
      </td>
      <td><%= sprintf('%.2f', product.price) %></td>
      <td><%= sprintf('%.2f', product.gross_price) %></td>
      <td>
        <% item = Shop::FetchStockItem.new.call(product.id) %>
        <%= item.quantity %>
      </td>
      <form action="/basket" method="post">
        <input type="hidden" name="product_id" value=<%= product.id %>>
        <td><input class="amount" type="number" name="quantity" value=1 max="<%= item.quantity %>" min="1"></td>
        <td><button class="btn btn-success" type="submit">Add to basket</button></td>
    </form>
  </tr>
<% end %>
  </tbody>
</table>
